@media (max-width: 1460px) {
	.clients-box img:last-child {
		display: none;
	}
	.clients-box {
		width: auto;
	}
}
@media (max-width: 1425px) {
	.about {
		padding: 103px 110px 101px 110px;
	}
	.aside__box-cont {
		max-width: 200px;
	}
	.services__four-box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
		width: auto;
	}
	.services__box-cont {
		margin: 0 auto;
	}
	.services__text {
		margin-top: 65px;
		margin-bottom: 35px;
	}
}
@media (max-width: 1350px) {
	.about {
		padding: 80px 0px 101px 80px;
	}
	.clients-box img:nth-child(4) {
		display: none;
	}
}
@media (max-width: 1270px) {
	.menu-list {
		display: none;
	}
	.menu-burger {
		display: block;
	}
	.header-page {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 60px 50px 0px 50px;
	}
	.menu:hover .menu-burger {
		display: none;
	}
	.menu:hover .menu-list {
		display: block;
		position: absolute;
		right: 50px;
		border: 2px solid #fcac45;
		border-radius: 5px;
	}
	.menu-item::after {
		display: none;
	}
	.menu-item::before {
		display: none;
	}
	.menu-list {
		background-color: #fcac45;
	}
	.menu-item {
		width: auto;
	}
	.menu-item a:hover {
		color: #ffffff;
	}
	.menu-item:hover {
		background-color: #292929;
		transition: background-color 0.15s linear;
	}
}
@media (max-width: 1170px) {
	.aside__four-box div:nth-child(3) {
		display: none;
	}
	.aside__four-box div:nth-child(4) {
		display: none;
	}
	.aside__four-box {
		width: auto;
	}
	.clients-box img:nth-child(3) {
		display: none;
	}
	.clients-box {
		justify-content: space-around;
	}
}
@media (max-width: 1020px) {
	.clients {
		padding: 100px 250px 100px 250px;
	}
}
@media (max-width: 990px) {
	.services {
		padding: 100px 160px 100px 160px;
	}
	.clients {
		padding: 100px 230px 100px 230px;
	}
}
@media (max-width: 960px) {
	.about {
		display: flex;
		justify-content: center;
		padding: 20px 0px 20px 0px;
		width: 100%;
	}
	.about__img {
		display: none;
	}
	.clients {
		padding: 100px 150px 100px 150px;
	}
}
@media (max-width: 770px) {
	.aside {
		padding: 100px 90px 85px 90px;
	}
	.services {
		padding: 100px 130px 100px 130px;
	}
	.clients {
		padding: 100px 100px 100px 100px;
	}
}
@media (max-width: 690px) {
	.services {
		padding: 100px 70px 100px 70px;
	}
	.clients {
		padding: 100px 55px 100px 55px;
	}
}
@media (max-width: 576px) {
	.aside {
		padding: 100px 10px 85px 10px;
	}
	.aside__four-box .aside__box-cont:nth-child(2) {
		display: none;
	}
	.services {
		padding: 100px 50px 100px 50px;
	}
	.clients {
		padding: 100px 30px 100px 30px;
	}
}
@media (max-width: 530px) {
	.clients__caption {
		text-align: center;
	}
}
@media (max-width: 498px) {
	.services {
		padding: 100px 40px 100px 40px;
	}
}
@media (max-width: 490px) {
	.about {
		padding: 15px;
	}
	.about__content {
		max-width: 454px;
	}
	.services {
		padding: 100px 30px 100px 30px;
	}
}
@media (max-width: 460px) {
	.services {
		padding: 100px 20px 100px 20px;
	}
}
@media (max-width: 440px) {
	.about__cont-txt {
		min-height: 350px;
	}
	.services {
		padding: 100px 10px 100px 10px;
	}
}
@media (max-width: 431px) {
	.clients-box img:nth-child(2) {
		display: none;
	}
}
@media (max-width: 420px) {
	.services__four-box {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 15px;
		width: auto;
	}
}
@media (max-width: 400px) {
	.header-page {
		padding: 60px 30px 0px 30px;
	}
	.menu:hover .menu-list {
		right: 30px;
	}
	.about {
		padding-bottom: 30px;
	}
	.about__list {
		margin-bottom: 20px;
	}
	.about__box-button {
		margin: 0 auto;
	}
	.aside__caption {
		text-align: center;
	}
	.clients {
		padding: 100px 10px 100px 10px;
	}
}
@media (max-width: 362px) {
	.aside {
		padding: 80px 10px 85px 10px;
	}
}
@media (max-width: 345px) {
	.greeting__logo {
		margin-bottom: 200px;
	}
	.about__title,
	.about__txt {
		text-align: center;
	}
	.about__button {
		margin: 0 auto;
	}
	.about__list {
		padding-left: 30px;
	}
	.about__txt_media-alignleft {
		text-align: left;
	}
}
