@media (max-width: 1270px) {
	.menu-list {
		display: none;
	}
	.menu-burger {
		display: block;
	}
	.header-page {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.menu:hover .menu-burger {
		display: none;
	}
	.menu:hover .menu-list {
		display: block;
		position: absolute;
		right: 180px;
		border: 2px solid #fcac45;
		border-radius: 5px;
	}
	.menu-list {
		background-color: #fcac45;
	}
	.menu:hover .line {
		display: none;
	}
	.menu-item {
		width: auto;
	}
	.menu-item a:hover {
		color: #ffffff;
	}
	.menu-item:hover {
		background-color: #292929;
	}
}
