@font-face {
	font-family: Lato-Regular;
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: MyriadPro-Regular;
	src: url(../fonts/MyriadPro/MyriadPro-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: OpenSans-SemiBold;
	src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
	font-family: OpenSans-Bold;
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.wrapper {
	margin: 0 auto;
	max-width: 1500px;
}
.title-wrap {
	background-color: #111111;
	padding-bottom: 90px;
}
.header-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 60px 180px 0px 180px;
	width: 100%;
}
.title {
	font-family: Lato-Regular;
	font-size: 24px;
	color: #ffffff;
}
.menu-list {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 26px;
	grid-row-gap: 20px;
}
.line-b {
	width: 30px;
	height: 3px;
	background-color: #292929;
}
.line-b_yellow {
	background-color: #fcac45;
}
.menu-item a {
	font-family: Lato-Regular;
	color: #ffffff;
}
.menu-item {
	justify-content: center;
	align-items: center;
	min-height: 24px;
}
.menu-item a:hover {
	color: #fcac45;
}
.menu-burger {
	display: none;
}
.greeting {
	text-align: center;
}
.greeting__logo {
	justify-content: space-between;
	margin-top: 225px;
	margin-bottom: 285px;
	min-height: 72px;
}
.greeting__cont {
	font-family: MyriadPro-Regular;
	font-size: 44px;
	font-weight: 100;
	letter-spacing: 1.5px;
	color: #878787;
}
.greeting__cont strong {
	color: #fcac45;
}
.greeting__cont-page {
	font-family: MyriadPro-Regular;
	font-weight: 100;
	color: #878787;
}
.greeting__scroll {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 2px;
	width: 50px;
	height: 50px;
	border: 3px #878787 solid;
	border-radius: 50%;
}
.greeting__scroll:hover {
	border: 3px solid #fcac45;
}
.about {
	display: grid;
	grid-template-columns: 1fr 0.64fr;
	margin: 0 auto;
	padding: 103px 180px 101px 180px;
	width: 100%;
}
.about__img {
	max-width: 100%;
}
.about__content {
	width: 454px;
}
.about__title {
	justify-content: space-between;
	min-height: 58px;
	margin-bottom: 20px;
}
.about__logo {
	font-family: OpenSans-Regular;
	font-size: 20px;
	text-transform: uppercase;
	color: #636363;
}
.about__slogan {
	font-family: OpenSans-Regular;
	font-size: 34px;
	text-transform: uppercase;
}
.content-line {
	width: 99px;
	height: 4px;
	background-color: #fcac45;
	margin-bottom: 32px;
}
.about__list li::before {
	content: "";
	display: inline-block;
	background: url("../img/ABOUT/list_marker.png") no-repeat;
	position: relative;
	top: 1px;
	margin-right: 10px;
	width: 14px;
	height: 15px;
}
.about__cont-txt {
	justify-content: space-between;
	min-height: 295px;
}
.about__txt {
	font-family: MyriadPro-Regular;
	font-size: 18px;
	line-height: 24px;
	color: #6c6c6c;
}
.list-item {
	font-family: OpenSans-SemiBold;
	line-height: 25px;
}
.list-item span {
	font-family: OpenSans-Regular;
	font-style: italic;
	color: #6c6c6c;
}
.about__box-button {
	justify-content: center;
	align-items: center;
	width: 195px;
	height: 47px;
	border: 1px solid #7f7f7f;
	border-radius: 3px;
}
.about__box-button a::before {
	content: "";
	display: inline-block;
	background: url("../img/ABOUT/button_about.png") no-repeat;
	width: 14px;
	height: 12px;
	position: relative;
	top: 1px;
	margin-right: 10px;
}
.about__box-button:hover {
	cursor: pointer;
	border: #fcac45;
	background-color: #fcac45;
}
.about__box-button:hover .about__button {
	text-decoration: underline;
}
.about__button {
	font-family: OpenSans-SemiBold;
	text-transform: uppercase;
	font-size: 12px;
	color: #616161;
}
.aside {
	padding: 100px 180px 85px 180px;
	background-color: #070707;
	width: 100%;
	min-height: 726px;
}
.aside__caption {
	justify-content: center;
	align-items: center;
}
.greeting__cont_color {
	color: #ffffff;
}
.greeting__cont_boldwhite {
	font-weight: 700;
	color: #ffffff;
}
.content-line_margin-tb {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
}
.content-line_width-smoll {
	margin: 0 auto;
	margin-bottom: 90px;
	color: #b37b33;
	width: 67px;
}
.aside__box {
	margin: 0 auto;
	margin-bottom: 75px;
	justify-content: space-between;
	width: 100%;
}
.aside__box-cont {
	justify-content: space-between;
	align-items: center;
	text-align: center;
	max-width: 262px;
	height: 290px;
}
.aside__name {
	font-family: OpenSans-Regular;
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
}
.aside__name_fontweigth {
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
}
.aside__box-txt {
	font-family: OpenSans-Regular;
	line-height: 20px;
	color: #ffffff;
}
.slaider {
	margin: 0 auto;
	justify-content: space-between;
	width: 55px;
}
.slainder-item {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
}
.slainder-item:hover {
	cursor: pointer;
	background-color: #fcac45;
}
