@font-face {
	font-family: Lato-Regular;
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: MyriadPro-Regular;
	src: url(../fonts/MyriadPro/MyriadPro-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: OpenSans-SemiBold;
	src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.wrapper {
	margin: 0 auto;
	max-width: 1500px;
}
.title {
	background-color: #111111;
	padding-bottom: 90px;
}
.header-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 60px 180px 0px 180px;
	width: 100%;
}
.header-page__logo {
	font-family: Lato-Regular;
	font-size: 24px;
	color: #ffffff;
}
.page-menu__list {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 26px;
	grid-row-gap: 20px;
}
.menu-item__blackline {
	width: 30px;
	height: 3px;
	background-color: #292929;
}
.menu-item__blackline_yellow {
	background-color: #fcac45;
}
.list__menu-item a {
	font-family: Lato-Regular;
	color: #ffffff;
}
.list__menu-item {
	justify-content: center;
	align-items: center;
	min-height: 24px;
}
.list__menu-item a:hover {
	color: #fcac45;
}
.menu__burger {
	display: none;
}
.title__greeting {
	text-align: center;
}
.greeting__title {
	justify-content: space-between;
	margin-top: 225px;
	margin-bottom: 285px;
	min-height: 72px;
}
.title__heading {
	font-family: MyriadPro-Regular;
	font-size: 44px;
	font-weight: 100;
	letter-spacing: 1.5px;
	color: #878787;
}
.title__heading strong {
	color: #fcac45;
}
.title__cont {
	font-family: MyriadPro-Regular;
	font-weight: 100;
	color: #878787;
}
.title-scroll {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border: 3px #878787 solid;
	border-radius: 50%;
}
.title-scroll:hover {
	border: 3px solid #fcac45;
}
.about {
	display: grid;
	grid-template-columns: 1fr 0.64fr;
	margin: 0 auto;
	padding: 103px 180px 101px 180px;
	width: 100%;
}
.about__img {
	max-width: 100%;
}
.about-content {
	max-width: 454px;
}
.content__title {
	justify-content: space-between;
	min-height: 58px;
	margin-bottom: 20px;
}
.title__about {
	font-family: OpenSans-Regular;
	font-size: 20px;
	text-transform: uppercase;
	color: #636363;
}
.title__subtitle-about {
	font-family: OpenSans-Regular;
	font-size: 34px;
	text-transform: uppercase;
}
.content__line {
	width: 99px;
	height: 4px;
	background-color: #fcac45;
	margin-bottom: 32px;
}
.content__list li::before {
	content: "";
	display: inline-block;
	background: url("../img/ABOUT/list_marker.png") no-repeat;
	position: relative;
	top: 1px;
	margin-right: 10px;
	width: 14px;
	height: 15px;
}
.content__box {
	justify-content: space-between;
	min-height: 295px;
}
.content__txt {
	font-family: MyriadPro-Regular;
	font-size: 18px;
	line-height: 24px;
	color: #6c6c6c;
}
.list__item {
	font-family: OpenSans-SemiBold;
	line-height: 25px;
}
.list__item span {
	font-family: OpenSans-Regular;
	font-style: italic;
	color: #6c6c6c;
}
.content__box-button {
	justify-content: center;
	align-items: center;
	width: 195px;
	height: 47px;
	border: 1px solid #7f7f7f;
	border-radius: 3px;
}
.content__box-button a::before {
	content: "";
	display: inline-block;
	background: url("../img/ABOUT/button_about.png") no-repeat;
	width: 14px;
	height: 12px;
	position: relative;
	top: 1px;
	margin-right: 10px;
}
.content__box-button:hover {
	cursor: pointer;
	border: #fcac45;
	background-color: #fcac45;
}
.content__box-button:hover .content__button {
	text-decoration: underline;
}
.content__button {
	font-family: OpenSans-SemiBold;
	text-transform: uppercase;
	font-size: 12px;
	color: #616161;
}
